[core]
	editor = vim
[alias]
	st = status
	sb = status -sb
	c = commit
	cm = commit -m
	ca = commit --amend
	cam = commit --amend -m
	graph = log --graph
	sp = stash pop
	ss = stash save
	sl = stash list
	sa = stash apply
	sd = stash drop
	su = stash -u
	b = branch
	bm = branch -m
	bd = branch -d
	bdd = branch -D
	ba = branch -a
	sw = switch
	swc = switch -c
	co = checkout
	cancel = reset --soft HEAD^
	a = add
	ap = add -p
	unstage = restore --staged
	f = fetch
	fp = !git fetch --prune && git branch -a
	mo = !git merge origin/`git rev-parse --abbrev-ref HEAD`
	autosquash = rebase -i --autosquash
	cof = !git branch -a | fzf --height=10 | xargs git checkout
	show-graph = log --graph --decorate --abbrev-commit --format=format:'%C(blue)%h%C(reset) - %C(green)(%ar)%C(reset)%C(yellow)%d%C(reset)\n  %C(white)%s%C(reset) %C(dim white)- %an%C(reset)'
	swf = !zsh -i -c 'git-fuzzy-switch'
[init]
	defaultBranch = main
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[push]
	autoSetupRemote = true
[fetch]
	prune = true
[pager]
	branch = false
